<h1 class = "text-center"><%=current_user.username%>'s posts</h1>

<% unless @posts.empty?%>
      <div class="area-main-div">
        <% @posts.each do |post| %>
          <%= link_to country_area_post_path(post.area.country, post.area, post) do %>
            <div class= "post-card">
              <div>
                <% if post.main_image.nil? %>
                  <%= image_tag("https://picsum.photos/300/300") %>
                <% else %>
                  <%= cl_image_tag (post.main_image.key, class:"main-post-image") %>
                <% end %>
              </div>
              <div class = "lower-post-card">
                <div>
                  <%= post.title %>
                </div>
                <div>
                  <em><%= post.category %></em>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
