<% require "open-uri" %>
<h1><%= @area.name %></h1>


<% main_url = "https://en.wikipedia.org/w/rest.php/v1/search/page?q=#{@area.name}&limit=1" %>
<% user_serialized = URI.open(main_url).read %>
<% area_info = JSON.parse(user_serialized) %>
<%= image_tag(area_info["pages"][0]["thumbnail"]["url"]) %>


<% unless @posts.empty?%>
  <% @posts.each do |post| %>
    <strong><%= post.title %> </strong><em><%= post.category %></em><br><%= post.description %><br><br>
  <% end %>
<% end %>


<%= simple_form_for [@country, @area, @post] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category , collection: %w(activity memory restaurant overview) %>
  <%= f.button :submit %>
<% end %>
