
<nav aria-label="breadcrumb" class="mt-2 pl-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @country.name, country_path(@country) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @area.name %></li>
  </ol>
</nav>

<% unless @posts.empty?%>
  <div class = main-posts-div>
    <div>
    <%= "Welcome to #{@area.name}, #{@country.name}"%>
    </div>
      <%= link_to "New post", new_country_area_post_path(@country, @area), class: "green-button mt-3"%>
    <div>
      <div class="area-main-div">
        <% @posts.each do |post| %>
          <%= link_to country_area_post_path(@country, @area, post) do %>
            <div class= "post-card">
              <div>
                <% if post.main_image.nil? %>
                  <%= image_tag("https://picsum.photos/300/300") %>
                <% else %>
                  <%= cl_image_tag (post.main_image.key, class:"main-post-image") %>
                <% end %>
              </div>
              <div class = "lower-post-card">
                <div>
                  <%= post.title %>
                </div>
                <div>
                  <em><%= post.category %></em>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <% else %>
    <div class="main-posts-div-blank">
      <div>
        <%= "Welcome to #{@area.name}, #{@country.name}. #{@area.name} is yet to be explored, please document your experience"%><br>
      </div>
      <%= link_to "New post", new_country_area_post_path(@country, @area), class: "green-button mt-3"%>
    </div>
<% end %>
