<h1><%= @country.name %></h1>

<% unless  @areas.empty?%>
  <% @areas.each do |area| %>
    <% main_url = "https://en.wikipedia.org/w/rest.php/v1/search/page?q=#{area.name}&limit=1" %>
    <% user_serialized = URI.open(main_url).read %>
    <% area_info = JSON.parse(user_serialized) %>
      <%= image_tag(area_info["pages"][0]["thumbnail"]["url"]) %><br>
      <%= link_to area.name, country_area_path(@country, area) %><br>
  <% end %>
<% end %>

<%= simple_form_for [@country, @area] do |f| %>
  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>
