<nav aria-label="breadcrumb" class="mt-2 pl-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @country.name %></li>
  </ol>
</nav>

<div class = "text-center mt-3">
<h1><%= @country.name %></h1>
</div>
<% require 'open-uri' %>

<% unless  @areas.empty?%>
  <div class = "area-main-div">
    <% @areas.each do |area| %>
      <%# Take information from Wikipedia API to create same width images %>
      <% main_url = "https://en.wikipedia.org/w/rest.php/v1/search/page?q=#{area.name.tr('àáäâãèéëẽêìíïîĩòóöôõùúüûũñç', 'aaaaaeeeeeiiiiiooooouuuuunc')}&limit=1" %>
      <% user_serialized = URI.open(main_url).read %>
      <% area_info = JSON.parse(user_serialized) %>
      <% unless area_info["pages"][0]["thumbnail"].nil? %>
        <% image_url = area_info["pages"][0]["thumbnail"]["url"] %>
      <% else %>
        <% main_url = "https://en.wikipedia.org/w/rest.php/v1/search/page?q=#{area.name.tr('àáäâãèéëẽêìíïîĩòóöôõùúüûũñç', 'aaaaaeeeeeiiiiiooooouuuuunc')}&limit=1" %>
        <% user_serialized = URI.open(main_url).read %>
        <% area_info = JSON.parse(user_serialized) %>
        <% image_url = area_info["pages"][0]["thumbnail"]["url"] %>
      <% end %>
      <% image_url_resized = image_url.gsub(/[0-9]*\.?[0-9]+px?/, "350px") %>
      <div class = "area-card">
        <%= link_to country_area_path(@country, area) do%>
          <%= image_tag(image_url_resized, class: "area-image")%>
          <div class = "area-title">
            <%= area.name %>
          </div>
      <% end %>
      </div>
    <% end %>
  </div>
<% end %>


<div class = "main-form-container">
  <div class= "form-container">
    <%= simple_form_for [@country, @area] do |f| %>
      <div class = "mb-4">
        <%= f.input :name, label: false%>
      </div>
      <%= f.button :submit, class: "green-button" %>
    <% end %>
  </div>
</div>
