<%= link_to "back", country_area_post_path(@country, @area, @post), class: "green-button my-5"%>

<div data-controller="multi-upload">
<%= simple_form_for [@country, @area, @post] do |f| %>
  <%= f.input :title %>
  <%= f.input :summary %>
  <%= f.input :description, as: :rich_text_area %>
  <%= f.input :category , collection: %w(bar restaurant activity nature memory) %>
  <%= f.input :main_image, as: :file, label: "square image only"%>
  <%= f.file_field :images, multiple: true, data: {action: "multi-upload#addFile"} %>
  <div data-multi-upload-target="files"></div>
  <%= f.button :submit %>
<% end %>
</div>
<% @post.images.each do |image| %>
  <%= image_tag(image, width: "200px") %>
<% end %>
