<div class="text-center mt-3">
  <h1>New post</h1>
</div>
<div class = "main-form-container">
  <div class= "post-form-container">
    <div data-controller="multi-upload">
    <%= simple_form_for [@country, @area, @post] do |f| %>
      <%= f.input :title %>
      <%= f.input :summary %>
      <%= f.input :description, as: :rich_text_area %>
      <%= f.input :category , collection: %w(bar restaurant activity nature memory) %>
      <%= f.input :main_image, as: :file, label: "square image only"%>
      <%= f.file_field :images, multiple: true, data: {action: "multi-upload#addFile"} %>
      <div data-multi-upload-target="files"></div>
      <div class = "d-flex justify-content-center">
        <%= f.button :submit, class: "green-button mt-3"%>
      </div>
      <div class = "text-link text-center mt-2">
        <%= link_to "Go back", country_area_path(@country, @area) %>
      </div>
    <% end %>
    </div>
  </div>
</div>
