<h1>New post</h1>
<%= simple_form_for [@country, @area, @post] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category , collection: %w(bar restaurant activity nature memory) %>
  <%= f.input :main_image, as: :file %>
  <%= f.button :submit %>
<% end %>
