<nav aria-label="breadcrumb" class="mt-2 pl-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item"><%= link_to @country.name, country_path(@country) %></li>
    <li class="breadcrumb-item"><%= link_to @area.name, country_area_path(@country, @area) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @post.title %></li>
  </ol>
</nav>
<% unless @post.images.empty? %>
  <div class = "d-flex justify-content-center">
    <div class = "carousel-container mt-5">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active carousel-image-limiter">
            <%= cl_image_tag(@post.images[0].key, class: "d-block w-100") %>
          </div>
          <% unless @post.images.drop(1).empty?  %>
            <% @post.images.drop(1).each do |image| %>
              <div class="carousel-item carousel-image-limiter">
                <%= cl_image_tag(image.key, class: "d-block w-100") %>
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
<% end %>

<div class = "main-post-image-circle-div">
  <%= cl_image_tag(@post.main_image.key, class:"main-post-image-circle" )%>
</div>
<div class = "post-show-div">
  <div class = "post-title-div">
  <%= @post.title %>
  </div>

  <div class = "author-div">
    <div class="text-center">
      Written by <%= @post.user.username %>
    </div>
  </div>
<% if current_user == @post.user %>
    <%= link_to "edit", edit_country_area_post_path(@country, @area, @post), class: "green-button mb-3"%>
<% end %>
  <div class = "post-description-div pb-5">
    <%= @post.description %>
  </div>
</div>
