<!DOCTYPE html>
<html>
  <head>
    <title>GlobeJotters</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;600&display=swap" rel="stylesheet">
  </head>

  <body>
  <%# header %>
  <% if user_signed_in? %>
    <div class = "header-container">
      <%= link_to root_path do%>
        <div class = "header-cell">
          GlobeJotters
        </div>
      <% end %>
      <div class = "header-right-section">
        <%=link_to user_path(current_user) do%>
          <div class = "header-cell">
            My Jots
          </div>
        <% end %>
      <%= link_to root_path do%>
        <div class = "header-cell">
          Countries
        </div>
      <% end %>
      <%= link_to "/users/edit" do %>
        <div class = "header-cell">
          My Account
        </div>
      <% end %>
      </div>
    </div>
    <% else %>
      <div class = "header-container">
        <%= link_to root_path do%>
          <div class = "header-cell">
            GlobeJotters
          </div>
        <% end %>
        <div class = "header-right-section">
          <%= link_to root_path do%>
            <div class = "header-cell">
              Countries
            </div>
          <% end %>
          <%= link_to "/users/sign_in" do %>
            <div class = "header-cell">
              Log in
            </div>
        <% end %>
        </div>
      </div>
  <% end %>
    <%= yield %>
  </body>
</html>
